/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  height: 600px;
}

.upper-bar {
  heigh:
}
.upper{
  position: relative;
  background: #1c5380;
  height: 220px;
}

.iphone {
  position: relative;
  top: 40px;
  left: 155px;
  width: 40%;
}

.descriptions {
    width: 42%;
    position: relative;
    top: -155px;
    left: 545px;
    padding: 0;
    margin: 0;
}
.brand-home {
  overflow: hidden;
}
.brand-logo {
  float: left;
}
.home-button {
  float: left;
}
img.login {
  width: 40px;
  padding-top: 20px;
  padding-left: 30px;
}

.instructions h2 {
    color: #06365f;
    font-size: 27px;
    line-height: 1.3;
    margin-top: 0;
    padding:0;

}

.instructions {
    background: url(../images/frame.png) no-repeat;
    min-height: 204px;
    padding: 40px;
    width: 424px;
  }

.badge-iphone , .badge-android{
  padding:10px;
}

.badge-iphone {
  padding-left: 0;
}

.footer-nav {
  text-align: center;
  font-weight: bold;
  list-style-type: none;
}

.footer-nav li {
  display: inline;
  text-decoration: none:
  margin:auto;
  padding:10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}

a:link {
  text-decoration: none;
  color: #1c5380;
}
