/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  width: 100%;
}
.upper{
  position: relative;
  background: #1c5380;
}

.iphone {
  position: relative;
  top: 325px;
  left: 155px;
}

.descriptions {
    border: 2px solid black;
    width: 40%;
    position: relative;
    top: -155px;
    left: 545px;
    padding: 30px;
}
.brand-home {
  overflow: hidden;
}
.brand-logo {
  float: left;
}
.home-button {
  float: left;
  border: 2px solid #06365f;
  background: : #1c5380;
  color:white;
  padding:20px;
}

.instructions h2 {
    color: #06365f;
    font-size: 27px;
    line-height: 1.3;
    margin-top: 0;
    padding:0;

}

.instructions {
  padding-top: 20px;
  background-image: url("/Users/dolma/Desktop/bitmaker/projects/css-site-replication/starter-code/images/frame.png") no-repeat;
}
.badge-iphone , .badge-android{
  padding:10px;
}
